@import 'shapes';

.columns {
    font-family: 'Comic Sans MS';
}

.col-left {
    @extend .columns;
    $colour: blue;
    color: $colour;
    .square {
        @include rectangle(100px, 100px, $colour);
    }
}

.col-middle {
    @extend .columns;
    $colour: red;
    color: $colour;
    .circle {
        @include circle(200px, $colour);
    }
}

.col-right {
    @extend .columns;
    $colour: green;
    color: $colour;
    .doughnut {
        @include doughnut(300px, $colour);
    }
    .doughnut-hover {
        @include doughnut(300px, yellow);
    }
}
